* {
    margin: 0;
    padding: 0;
}

body {
    background: url(./game.gif);
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    font-family: 'Mate SC', serif !important;
}

.main {
    height: 760px;
    width: 750px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    margin-top: 5px;
    margin-right: 10px;
    height: 160px;
    width: 170px;
    border-radius: 10px;
    transition: transform 0.5s linear;
    transform: rotateY(180deg);
    align-items: center;
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 38, 135, 0.37);
    color: gold;
    font-size: 35px;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    box-shadow: 5px 3px 8px 5px rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(31, 38, 135, 0.37);
}
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: black;
    box-shadow: 5px 3px 8px 5px rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.front.flip {
    background-color: transparent;
    transform: rotateY(180deg);
}

.back.flip {
    transform: rotateY(180deg);
}

.flipped {
    transform: rotateY(180deg);
}

.popup {
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    display: none;
}

.popup>div {
    width: 300px;
    height: 200px;
    margin-top: 700px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    h2 {
        font-size: 1rem !important;
    }
}

#reload {
    border: 0;
    background-color: #f13637;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    color: #fff;
    vertical-align: middle;
    font-size: 1.2rem !important;
    margin: 10px 0;
}

#reload:active,
#reload:focus {
    outline: none;
}
